

<div style="width:640px;height:480px;max-width:100%">
        <div id="game"></div>
      </div>
<script type="text/javascript">
    EJS_player = '#game';
    EJS_gameUrl = 'https://raw.githubusercontent.com/leafdagamer/leafdagamer.github.io/main/smurfs/SMURFS.SMC'; // Url to Game rom
    EJS_core = 'snes';
    EJS_mouse = false; // SNES Mouse
    EJS_multitap = false; // SNES Multitap
</script>
<script src="https://www.emulatorjs.com/loader.js"></script>
